/***** RESET STYLES *****/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
body {
 line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}
nav ul {
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}
/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000; 
 font-style:italic;
 font-weight:bold;
}
del {
 text-decoration: line-through;
}
abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0; 
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}
input, select {
 vertical-align:middle;
}



/*** STYLES ***/
body {
	width: 800px;
    height: 600px;
    background: url("../img/background.jpg") no-repeat;
    position: relative;
    overflow: hidden;
}

.balloons1, .balloons2, .wheel, .target, .btn-spin, .btn-spin-down {
	position: absolute;
}

.balloons1 {
	width: 175px;
    height: 170px;
    background: url("../img/balloons.png") no-repeat;
    top: 40px;
    left: 70px;
}

.balloons2 {
	width: 222px;
    height: 215px;
    background: url("../img/balloons.png") no-repeat center / cover;
    top: 240px;
    left: 90px;
}

.wheel {
	width: 430px;
    height: 430px;
    background: url("../img/wheel.png") no-repeat;
    top: 100px;
    left: 350px;
}

.target {
	width: 78px;
    height: 63px;
    background: url("../img/target.png") no-repeat;
    top: 68px;
    left: 520px;

}

.btn-spin {
	width: 140px;
    height: 148px;
    background: url("../img/btn-spin.png") no-repeat;
    left: 500px;
    top: 248px;
}

.btn-spin-down {
	width: 140px;
    height: 148px;
    background: url("../img/btn-spin-down.png") no-repeat;
    left: 500px;
    top: 248px;
    display: none;
}